
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap')

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}
.resume-header {
    background-color: #3366ff;
}
.resume-main {
	background-color: #fffefc;
}
.resume-aside {
	background-color: #A9A9A9;
}
.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.biography-details li::before {
	color: #EE7623;
}
.biography-details li, .skill-list li {
	padding-left: 1em;
}
.skill-item {
	font-weight: bold;
}
h1 {
  color: white;
}
.wtext	{
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}	
.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
